/// Importaciones para el archivo style.scss
@use "menu"; ///Importa el archivo _menu.scss
@use "contenido"; /// Importa el archivo _contenido.scss

/// @author Melissa Liñán González

/// Estilos globales del body.
// Aquí se definen los estilos generales de la página.

body{
    background-color:#A8DCA8;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/// Estilos del wrapper que organiza la estructura de la página.
/// Utiliza un sistema de grid para organizar el layout.


#wrapper{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: "stickyMenu"
                         "contenido";
}

/// Media query para pantallas grandes (mayores a 1000px).
/// Cambia la disposición de las columnas para mostrar el menú y contenido en paralelo.


@media (min-width: 1000px) {
    #wrapper {
        grid-template-columns: 25% 75%;
        grid-template-areas: "stickyMenu contenido";
    }
}

